<?xml version="1.0"?>
<model>
  <name>aruco_tag</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Ciccio Ciolla</name>
    <email>renaultquattrorossa@gmail.com</email>
  </author>
  <description>ArUco fiducial marker with ID 201 for pose estimation and localization.</description>
</model>
